distributionBase={{distributionBase}}
distributionPath={{distributionPath}}
distributionUrl={{distributionUrl}}
networkTimeout={{networkTimeout}}
validateDistributionUrl={{validateDistributionUrl}}
zipStoreBase={{zipStoreBase}}
zipStorePath={{zipStorePath}}